/*-------------------pages colors------------------*/
:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --basic-headers-color: #212121;
  --basic-content-color: #757575;
  --backgrouns-secondary-color: #2f303a;
  --primary-background-color: #fff;
  --third-background-color: #f5f4fa;
  --section-pt: 94px;
  --section-pb: 94px;
  --common-grey: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
}

body {
  font-family: var(--main-font);
  color: var(--basic-content-color);
  font-weight: 400;
  letter-spacing: 0.03em;
}
/*------------------- end pages colors------------------*/

/*------------------- reset styles------------------*/

.address {
  font-style: normal;
  margin-left: auto;
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

img,
svg {
  display: block;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
}

/*-------------------end reset styles------------------*/

/* ============= LOGO ============= */
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--accent-color);
}

.header .logo {
  margin-right: 93px;
}

.logo-light-theme {
  color: #212121;
}

.logo-dark-theme {
  color: #ffffff;
}

/* ============= END LOGO ============= */

/* ============= COMPONENTS ============= */
.modal-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 10px 32px;
  min-width: 70px;
  border-radius: 4px;
  border: none;
  display: block;
  outline: none;
  color: var(--basic-headers-color);

  transition: color var(--timing-function) var(--duration),
    background-color var(--timing-function) var(--duration),
    box-shadow var(--timing-function) var(--duration);
}

.modal-button:hover,
.modal-button:focus,
.modal-button:active {
  color: var(--primary-background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list-modal-button {
  display: flex;
  justify-content: center;
}

.modal-button-item:not(:first-child) {
  margin-left: 8px;
}

/* ============= END COMPONENTS ============= */

/* ============= HEADER ============= */

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--timing-function) var(--duration);

  color: var(--basic-headers-color);
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-item .active-link::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  margin-top: 30px;
  left: 0;
  top: 15px;
}

.navigation-item .active-link {
  position: relative;
}

.active-link {
  color: var(--accent-color);
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}

.link-address {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--basic-content-color);
  display: flex;
  align-items: center;
  transition: color var(--timing-function) var(--duration);
}

.link-address:hover,
.link-address:focus {
  color: var(--accent-color);
}

.link-address-list:not(:last-child) {
  margin-right: 50px;
}

.mail-img {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}

.phone-img {
  width: 12px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
}

/* ============= END HEADER ============= */

/* ============= HERO ============= */

.hero-btn {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.85;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  margin: 0 auto;
  margin-top: 45px;
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: color var(--timing-function) var(--duration),
    background-color var(--timing-function) var(--duration);

  color: #ffffff;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
  margin: 0 auto;

  color: #ffffff;
}
.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(62, 63, 77, 0.4)
    ),
    url(../images/hero/hero-background.jpg);
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--backgrouns-secondary-color);
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ============= END HERO ============= */

/* ============= ABOUT ============= */
.cards-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--basic-headers-color);
}

.titles {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: var(--basic-headers-color);
}

.about {
  background: var(--primary-background-color);
  padding-top: var(--section-pt);
}

.about-us {
  background: var(--primary-background-color);
}

.description-about {
  font-size: 14px;
  line-height: 1.71;
}

.description-cards {
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-content-color);
}

.list-about {
  display: flex;
  justify-content: space-between;
  margin-left: -30px;
}

.list-about-text {
  margin-left: 30px;
}

.list-about-icon-container {
  width: 270px;
  height: 120px;
  background-color: var(--third-background-color);
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-about-icon-container-img {
  width: 65px;
  height: 70px;
}

.img-about-list {
  display: flex;
  justify-content: space-between;
  margin-left: -30px;
  margin-top: -30px;
}

.img-about {
  flex-basis: calc (100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  position: relative;
}
.about-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.about-us-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  color: var(--basic-headers-color);
  margin-bottom: 50px;
}

.about-images {
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
}

/* ============= END ABOUT ============= */

/* ============= Projects ============= */

.projects {
  padding-top: var(--section-pt);
  padding-bottom: 50px;
}

.list-cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.cards-item {
  margin-left: 30px;
  margin-top: 30px;

  transition: box-shadow var(--duration) var(--timing-function);
}

.cards-list-content-wrapper {
  padding: 20px 24px;
  background-color: white;
  border: 1px solid #eeeeee;
  border-top: none;
}

.cards-title {
  margin-bottom: 14px;
}

.cards-container {
  padding-bottom: var(--section-pb);
}

.portfolio-list-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-background-color);
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform var(--duration) var(--timing-function);
}

.cards-content-wrapper {
  position: relative;
  overflow: hidden;
}

.cards-item a:hover .portfolio-list-overlay,
.cards-item a:focus .portfolio-list-overlay {
  transform: translateY(0);
}

.cards-item:hover,
.cards-item:focus,
.cards-item:active {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* ============= END Projects ============= */

/* ============= OUR TEAM ============= */

.our-team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 14px;

  color: var(--basic-headers-color);
}
.team {
  background: var(--third-background-color);
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
}

.description-team {
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;
}

.list-team {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.img-team {
  margin-left: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}

.team-list-content-wrapper {
  padding: 30px 32px;
  text-align: center;
  background-color: white;
}

.team-list-content-wrapper > ul {
  display: flex;
  justify-content: center;
}

/*.team-icon-container-img {
  width: 20px;
  height: 20px;
}*/

.team-icon-container-img use {
  fill: var(--common-grey);
  transition: fill var(--timing-function) var(--duration);
}

.team-icon-container:hover .team-icon-container-img use {
  fill: var(--primary-background-color);
}
.team-icon-container:not(:last-child) {
  margin-right: 10px;
}
.team-icon-container {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--timing-function) var(--duration);
}

.team-icon-container:hover,
.team-icon-container:focus {
  background-color: var(--accent-color);
  cursor: pointer;
}

/* =============END OUR TEAM ============= */

/*============= REGULAR CUSTOMERS ============= */
.customers {
  background: var(--primary-background-color);
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
}

.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  color: var(--basic-headers-color);
  margin-bottom: 50px;
}

.list-customers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clients-item {
  width: 170px;
  height: 90px;
  border: 1px solid var(--common-grey);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color var(--timing-function) var(--duration);
}

.clients-item:hover .clients-link,
.clients-item:focus .clients-link {
  fill: var(--accent-color);
}
.clients-item:hover,
.clients-item:focus {
  border-color: var(--accent-color);
}

.clients-link {
  fill: var(--common-grey);
  transition: var(--timing-function) var(--duration);
}

/* =============END REGULAR CUSTOMERS ============= */
/* =============FOOTER============= */

.footer {
  background-color: var(--backgrouns-secondary-color);
}

.footer .container {
  display: flex;
  align-items: baseline;
  /*align-items: center;*/
  justify-content: space-between;
}

.footer-address {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
}

.address-link:not(:last-child) {
  margin-bottom: 9px;
}

.logo-footer {
  display: block;
  margin-bottom: 30px;
}

.social-icon-container {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color var(--timing-function) var(--duration);
}

.social-icon-container:not(:last-child) {
  margin-right: 10px;
}

.social-icon-container-img use {
  fill: var(--primary-background-color);
  transition: fill var(--timing-function) var(--duration);
}

.social-icon-container:hover > svg > use {
  fill: var(--primary-background-color);
}

.social-icon-container:hover,
.social-icon-container:focus {
  background-color: var(--accent-color);
  cursor: pointer;
}

.social-list-link > ul {
  display: flex;
}

.footer p {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer > .container > :first-child {
  padding-top: 60px;
  padding-bottom: 60px;
}

.address-list-link {
  margin-right: 70px;
}

/* footer form */
.footer-form {
  display: flex;
}

.footer-form-input {
  padding: 15px;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--backgrouns-secondary-color);
  color: #ffffff;
}

.footer-form-input::placeholder {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-input:focus {
  outline: none;
}

.footer-btn {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.85;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  margin: 0 auto;
  min-width: 200px;
  height: 50px;
  padding: 10px 28px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: color var(--timing-function) var(--duration),
    background-color var(--timing-function) var(--duration);

  color: #ffffff;
}

.footer-btn {
  display: inline-flex;
  align-items: center;
}

.footer-btn-icon {
  margin-left: 10px;
  fill: currentColor;
}

.social-list-link {
  margin-right: 93px;
}

/* =============END FOOTER ============= */

/* ============= MODAL WINDOWS ============= */

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;

  background: rgba(0, 0, 0, 0.2);
  transition: opasity var(--timing-function) var(--duration);
}

.modal {
  position: absolute;
  width: 528px;
  height: 580px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background: var(--primary-background-color);
}
.modal-close-btn:hover .modal-icon-container-img,
.modal-close-btn:focus .modal-icon-container-img {
  fill: var(--accent-color);
}

.modal-icon-container-img {
  transition: var(--timing-function) var(--duration);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-fild {
  font-family: var(--main-font);
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 4px;

  letter-spacing: 0.01em;

  color: var(--basic-content-color);
}

.modal-form-input-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--duration) var(--timing-function);
}

.modal-form-input:hover,
.modal-form-input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.modal-form-input:focus ~ .modal-form-icon,
.modal-form-input:hover ~ .modal-form-icon,
.modal-form-icon:hover {
  fill: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  display: block;
  transform: translateY(-50%);
  transition: fill var(--duration) var(--timing-function);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border-color var(--duration) var(--timing-function);
  margin-bottom: 25px;
}

.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:hover,
.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-title {
  font-family: var(--main-font);
  display: block;

  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  margin-bottom: 12px;
}

.modal-form-check-desk {
  font-size: 14px;
  display: flex;
  align-items: center;
}

.modal-form-check-desk::before {
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
}

.modal-form-term:checked + .modal-form-check-desk::before {
  background-image: url(../images/modal/Vector.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: 2px solid var(--accent-color);
  border-radius: 2px;
  background-color: var(--accent-color);
}

.modal-form-term:focus + .modal-form-check-desk::before {
  outline: 2px solid var(--accent-color);
}

.modal-form-btn {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.85;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  margin: 0 auto;
  margin-top: 45px;
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: color var(--timing-function) var(--duration),
    background-color var(--timing-function) var(--duration);

  color: #ffffff;
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: #188ce8;
}

.policy-link {
  display: inline;
  color: var(--accent-color);
  text-decoration: underline;
}
/* =============END WINDOWS ============= */ ;
