.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--accent-color);
}

.header .logo {
  margin-right: 93px;
}

.logo_light_theme {
  color: #212121;
}

.logo_dark_theme {
  color: #ffffff;
}
